<div>
  <mat-toolbar color="primary">
    <span>Meu Financeiro</span>
    <button mat-button [matMenuTriggerFor]="menu">Usuário</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="usuario/cadastro">Cadastro</button>
      <button mat-menu-item routerLink="usuario/pesquisa">Pesquisa</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menuCategoria">Categoria</button>
    <mat-menu #menuCategoria="matMenu">
      <button mat-menu-item >Cadastro</button>
      <button mat-menu-item>Pesquisa</button>
    </mat-menu>
  </mat-toolbar>
  <div class="container">
      <router-outlet></router-outlet>
  </div>
</div>